[Unit]
Description=Hive Metastore

[Service]
Type=simple
PIDFile=/run/hive-metastore.pid
ExecStart=/bin/bash -c "/usr/local/hive/bin/hive --service metastore  > /usr/local/hive/logs/metastore.log 2>&1"
User=root
Group=root
WorkingDirectory=/usr/local/hive
Environment=JAVA_HOME=/usr/local/java
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target